<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex">
      <div class="mr-auto">
        <i class="fa fa-pencil-square-o text-primary"></i> {{TITLE}}
      </div>
      <!--<button class="btn btn-sm rounded btn-outline-primary" (click)="openModal(createPerson)">-->
        <!--<i class="fa fa-plus-circle"></i> Nuevo Registro-->
      <!--</button>-->
      <!--<button style="margin-left: 1rem" class="btn btn-sm rounded btn-outline-danger" (click)="cancel()">-->
        <!--<i class="fa fa-plus-circle"></i> Regresar-->
      <!--</button>-->
    </div>
    <div class="card-body mt-4 p-0">

      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="col-form-label">Listas:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                </div>
                <select [(ngModel)]="valueList" (change)="onChange()" class="form-control">
                  <option value="-1">Todas Las Listas</option>
                  <option *ngFor="let list of listaList"
                          value="{{ list.codLista }}">{{ list.idLista }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div *ngIf="valueList == -1" class="row justify-content-center shadow-bh"
           style=" border-radius: 25px;
                        margin-left: 1rem; margin-right: 1rem">

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Nombre:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user text-primary"></i></span>
                </div>
                <input [(ngModel)]="fNameAll" class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Nacionalidad:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-flag text-primary"></i></span>
                </div>
                <input [(ngModel)]="fNacAll" class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Fecha nacimiento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar text-primary"></i></span>
                </div>
                <input [(ngModel)]="fFechaAll" class="form-control" type="date">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Tipo documento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-arrow-right text-primary"></i></span>
                </div>
                <select [(ngModel)]="fTdocAll" class="form-control">
                  <option value="DUI">DUI</option>
                  <option value="NIT">NIT</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Documento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-address-card text-primary"></i></span>
                </div>
                <input [(ngModel)]="fDocAll" type="number" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <button type="button" class="btn bg-primary btn-block rounded" (click)="filterAllList()">
            <i class="fa fa-search"></i> Buscar
          </button>
        </div>

      </div>

      <div *ngIf="valueList > 0" class="row justify-content-center shadow-bh"
           style=" border-radius: 25px;
                        margin-left: 1rem; margin-right: 1rem">

        <div *ngIf="fields.length > 0">
          <form [formGroup]="listSearchForm" (ngSubmit)="filterIdList()" novalidate>

            <div class="row align-items-center text-primary">

              <div *ngFor="let field of fields" class="col-12 col-md-6 col-lg-3">

                <div *ngIf="field.type ==  'SCAT' " class="form-group">
                  <label class="col-form-label">{{ field.label }}</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="fa fa-bars text-primary"></i></span>
                      </div>
                      <select [formControlName]="field.index" class="form-control">
                        <option *ngFor="let op of field.subcategories"
                                value="{{ op.label }}">{{ op.label }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div *ngIf="field.type !== 'SCAT' " class="form-group">
                  <label class="col-form-label">{{ field.label }}</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <div class="input-group-prepend">
                                            <span class="input-group-text"><i
                                                    class="fa fa-user text-primary"></i></span>
                      </div>
                      <input *ngIf="field.type == 'TEXT'" type="text" [formControlName]="field.index"
                             class="form-control">
                      <input *ngIf="field.type == 'NUM'" type="number" [formControlName]="field.index"
                             class="form-control">
                      <input *ngIf="field.type == 'DATE'" type="date" [formControlName]="field.index"
                             class="form-control">
                    </div>
                  </div>
                </div>

              </div>

              <div class="col-12 col-md-6 col-lg-3">
                <button type="submit" class="btn bg-primary btn-block rounded">
                  <i class="fa fa-search"></i> Buscar
                </button>
              </div>

            </div>

          </form>
        </div>

      </div>

      <br>
      <div class="col-2">
      <button class="btn bg-primary btn-block rounded" (click)="exportExcel()"> Exportar Excel </button>
      </div>
<!--      <div class="col-2">-->
<!--        <button class="btn bg-primary btn-block rounded" (click)="exportPDF()"> Exportar PDF </button>-->
<!--      </div>-->
      <table id="tableToContent" *ngIf="valueList == -1" class="table table-sm table-hover">
        <thead class="bg-primary">
        <tr>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th>Fecha Nacimiento</th>
          <th>Tipo Documento</th>
          <th>Documento</th>
<!--          <th scope="col">Acciones</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fields of this.fieldsRegister">
          <td *ngFor="let field of this.orderList(fields.registro)">{{ field.value }}</td>
<!--          <td>-->
<!--            <i class="fa fa-pencil-square-o text-info fa-2x" aria-hidden="true" style="cursor: pointer" title="Editar" (click)="editar(fields.codLista, fields.id)"></i>-->
<!--            <i class="fa fa-times text-danger fa-2x" aria-hidden="true" style="cursor: pointer" title="Eliminar"></i>-->
<!--          </td>-->
        </tr>
        </tbody>
      </table>

      <table *ngIf="valueList > 0 && listaPP !== undefined" class="table table-sm table-hover">
        <thead class="bg-primary">
        <tr>
          <th *ngFor="let head of listaPP.data.estructura.fields"  scope="col">{{ head.label }}</th>
<!--          <th scope="col">Acciones</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fields of this.fieldsRegister">
          <td *ngFor="let field of this.orderList(fields.registro)">{{ field.value }}</td>
<!--          <td>-->
<!--            <i class="fa fa-pencil-square-o text-info fa-2x" aria-hidden="true" style="cursor: pointer" title="Editar" (click)="editar(fields.codLista, fields.id)"></i>-->
<!--            <i class="fa fa-times text-danger fa-2x" aria-hidden="true" style="cursor: pointer" title="Eliminar"></i>-->
<!--          </td>-->
        </tr>
        </tbody>
      </table>
      <br>
      <!--        <div class="d-flex justify-content-center">-->
      <!--            <nav class="text-primary">-->
      <!--                <ul class="pagination">-->
      <!--                    <li class="page-item"><a class="page-link">Anterior</a></li>-->
      <!--                    <li class="page-item"><a class="page-link">1</a></li>-->
      <!--                    <li class="page-item"><a class="page-link">2</a></li>-->
      <!--                    <li class="page-item"><a class="page-link">3</a></li>-->
      <!--                    <li class="page-item"><a class="page-link">Siguiente</a></li>-->
      <!--                </ul>-->
      <!--            </nav>-->
      <!--        </div>-->
    </div>
  </div>
</div>
