<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex justify-content-between">
      <div>
        <i class="fa fa-cog text-primary"></i> {{TITLE}}
      </div>
      <!--<button class="btn btn-sm rounded btn-outline-primary" (click)="createPeople()">-->
        <!--<i class="fa fa-plus-circle"></i> Carga Individual-->
      <!--</button>-->
    </div>
    <div class="card-body mt-4 p-0">

      <div class="row align-items-center text-primary">

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Nombre:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user text-primary"></i></span>
                </div>
                <input [(ngModel)]="fNameAll" class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Nacionalidad:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-flag text-primary"></i></span>
                </div>
                <input [(ngModel)]="fNacAll" class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Fecha nacimiento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar text-primary"></i></span>
                </div>
                <input [(ngModel)]="fFechaAll" class="form-control" type="date">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Tipo documento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-arrow-right text-primary"></i></span>
                </div>
                <select [(ngModel)]="fTdocAll" class="form-control">
                  <option value="DUI">DUI</option>
                  <option value="NIT">NIT</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Documento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-address-card text-primary"></i></span>
                </div>
                <input [(ngModel)]="fDocAll" type="number" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <button type="button" class="btn bg-primary btn-block rounded" (click)="filterAllList()">
            <i class="fa fa-search"></i> Buscar
          </button>
        </div>

      </div>
      <br>
      <table class="table table-sm table-hover">
        <thead class="bg-primary">
        <tr>
          <th>Nombre</th>
          <th>Nacionalidad</th>
          <th>Fecha Nacimiento</th>
          <th>Tipo Documento</th>
          <th>Documento</th>
          <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fields of this.fieldsRegister">
          <td *ngFor="let field of this.orderList(fields.registro)">{{ field.value }}</td>
          <td>
            <i class="fa fa-pencil-square-o text-info fa-2x" aria-hidden="true" style="cursor: pointer" title="Editar" (click)="editar(fields.codLista, fields.id)"></i>
            <i class="fa fa-times text-danger fa-2x" aria-hidden="true" style="cursor: pointer" title="Eliminar"></i>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</div>

<ng-template #anulationMSG>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Justificación para Eliminar de Persona</h5>
    </div>

    <div class="modal-body">

      <div class="form-group">
        <label class="col-form-label">Justificación:</label>
        <div class="controls">
          <div class="input-prepend input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
            </div>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary rounded"><i class="fa fa-arrow-down" aria-hidden="true"></i>
        Eliminar
      </button>
      <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
        <i class="fa fa-close" aria-hidden="true"></i> Cancelar
      </button>
    </div>
  </div>
</ng-template>
