<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex justify-content-between">
      <div>
        <i class="fa fa-angle-double-up text-primary"></i> {{TITLE}}
      </div>
      <button class="btn btn-sm rounded btn-outline-danger" (click)="returnPage()">
        <i class="fa fa-reply"></i> Regresar
      </button>
    </div>
    <div class="card-body mt-4 p-0">

      <table class="table table-sm table-hover">
        <thead class="bg-primary">
        <tr>
          <th scope="col">Solicitado por</th>
          <th scope="col">Cargado por</th>
          <th scope="col">Fecha de entrega</th>
          <th scope="col">Estado</th>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col">Observaciones</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Lista PEP</td>
          <td>Lista de Empleados Públicos</td>
          <td>Marco Platero</td>
          <td>10/5/2018</td>
          <td class="text-center"><i class="fa fa-check-circle text-success fa-2x"></i></td>
          <td>mplatero 1/5/2018</td>
          <td class="text-center">
            <i class="fa fa-times text-danger fa-2x" aria-hidden="true" style="cursor: pointer" title="Eliminar" (click)="modalAnulation(anulationMSG)"></i>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
      <div class="d-flex justify-content-center">
        <nav class="text-primary">
          <ul class="pagination">
            <li class="page-item"><a class="page-link">Anterior</a></li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">Siguiente</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<ng-template #anulationMSG>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Justificación de Baja de Carga</h5>
    </div>

    <div class="modal-body">

      <div class="form-group">
        <label class="col-form-label">Justificación:</label>
        <div class="controls">
          <div class="input-prepend input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
            </div>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary rounded"><i class="fa fa-arrow-down" aria-hidden="true"></i>
        Dar de baja
      </button>
      <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
        <i class="fa fa-close" aria-hidden="true"></i> Cancelar
      </button>
    </div>
  </div>
</ng-template>
