<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex">
      <div class="mr-auto">
        <i class="fa fa-pencil-square-o text-primary"></i> {{TITLE}}
      </div>
      <button class="btn btn-sm rounded btn-outline-primary" [disabled]="createStatus" (click)="createPerson()">
        <i class="fa fa-plus-circle"></i> Nuevo Registro
      </button>
      <button style="margin-left: 1rem" class="btn btn-sm rounded btn-outline-danger" (click)="cancel()">
        <i class="fa fa-plus-circle"></i> Regresar
      </button>
    </div>
    <div class="card-body mt-4 p-0">

      <div class="row justify-content-center align-items-center text-primary">

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label class="col-form-label">Listas:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                </div>
                <select [(ngModel)]="valueIdList" (change)="onChange()" class="form-control">
                  <option *ngFor="let lista of listaCatalog"
                          value="{{ lista.codLista }}">{{ lista.idLista }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <label class="col-form-label">Fecha ultima carga:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar text-primary"></i></span>
                </div>
                <input class="form-control" type="date" [disabled]="true">
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-2">
          <button class="btn bg-primary rounded" (click)="getListPP()">
            <i class="fa fa-search"></i> Seleccionar
          </button>
        </div>

      </div>
      <br>

      <table *ngIf="!createStatus" class="table table-sm table-hover">
        <thead class="bg-primary">
        <tr>
          <th *ngFor="let head of listaPP.data.estructura.fields"  scope="col">{{ head.label }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fields of this.fieldsRegister">
          <td *ngFor="let field of this.orderList(fields.registro)">{{ field.value }}</td>
        </tr>

        </tbody>
      </table>

<!--      <div class="d-flex justify-content-center">-->
<!--        <nav class="text-primary">-->
<!--          <ul class="pagination">-->
<!--            <li class="page-item"><a class="page-link">Anterior</a></li>-->
<!--            <li class="page-item"><a class="page-link">1</a></li>-->
<!--            <li class="page-item"><a class="page-link">2</a></li>-->
<!--            <li class="page-item"><a class="page-link">3</a></li>-->
<!--            <li class="page-item"><a class="page-link">Siguiente</a></li>-->
<!--          </ul>-->
<!--        </nav>-->
<!--      </div>-->

    </div>
  </div>
</div>
