
.pex-button-icon-lg {
  position: relative;
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e8ec;
  cursor: pointer;
}

.bh-role:hover {
  box-shadow: 3px 5px 5px 3px #D3D3D3;
}

.pex-card-terminal {
  width: 15rem;
  height: 9rem;
  border-radius: 0.75rem;
  border: none;
  box-shadow: 0 2px 16px -2px rgba(0, 0, 0, .30);
  cursor: pointer;
  padding: 0;

  &:hover {
    box-shadow: 0 2px 16px -2px rgba(0, 0, 0, .90);
  }

  &__footer {
    position: absolute;
    bottom: 0;
    margin: 0.5rem 0 0 0;
    padding: 0;
    height: 3rem;
    width: 15rem;

    border-radius: 0 0 0.75rem 0.75rem;
  }

  &__footer-label {
    padding-top: 0.875rem;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    vertical-align: middle;
    color: #fff;
    text-transform: uppercase;
  }
}
