<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex justify-content-between">
      <div>
        <i class="fa fa-pencil-square-o text-primary"></i> {{TITLE}}
      </div>
      <!--<button class="btn btn-sm rounded btn-outline-primary" (click)="agregar()">-->
      <!--<i class="fa fa-plus-circle"></i> Crear lista-->
      <!--</button>-->
    </div>
    <div class="card-body mt-4 p-0">

      <div class="row align-items-center text-primary">

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Listas:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                </div>
                <select class="form-control">
                  <option value="1">Lista 1</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Nombre:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user text-primary"></i></span>
                </div>
                <input class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Nacionalidad:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-flag text-primary"></i></span>
                </div>
                <input class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Fecha nacimiento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar text-primary"></i></span>
                </div>
                <input class="form-control" type="date">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Tipo documento:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-arrow-right text-primary"></i></span>
                </div>
                <select class="form-control">
                  <option value="1">Lista 1</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Docuemnto:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-address-card text-primary"></i></span>
                </div>
                <input class="form-control">
              </div>
            </div>
          </div>
        </div>

      </div>

      <br>

      <div>
        <div>
          <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary rounded"><i class="fa fa-refresh"
                                                                     aria-hidden="true"></i>
              Actualizar
            </button>
            <button type="button" class="btn btn-danger rounded" data-dismiss="modal" (click)="cancel()">
              <i class="fa fa-close" aria-hidden="true"></i> Cancelar
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
