<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler style="outline: none">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler style="outline: none">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav ml-auto">

    <li class="nav-item dropdown d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <i class="fa fa-user-circle fa-2x text-primary"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Cuenta de Usuario</strong></div>
        <a class="dropdown-item">
          <div class="small mb-1 text-primary"><i class="fa fa-user text-primary"></i>Usuario: <strong>Juan Pérez</strong></div>
        </a>
        <a class="dropdown-item">
          <div class="small mb-1 text-primary"><i class="fa fa-arrow-circle-o-right text-primary"></i>Perfil: <strong>Administrador</strong></div>
        </a>
      </div>
    </li>


    <button class="navbar-toggler d-md-down-none" (click)="logout()" type="button" aria-label="Cerrar Sesión" style="outline: none">
      <i class="fa fa-sign-out fa-2x text-primary"></i>
    </button>
  </ul>
</header>
