<div class="animated fadeIn">
    <div class="card" style="padding: 0.2rem">
        <div class="card-header bg-gray-200 text-primary d-flex bd-highlight mb-3">
            <div class="mr-auto p-2 bd-highlight">
                <i class="fa fa-plus-circle text-primary"></i> {{TITLE}}
            </div>
            <button class="btn btn-sm rounded btn-outline-primary p-2 bd-highlight" (click)="addFieldList(addField)">
                <i class="fa fa-plus"></i> Agregar campo
            </button>
            <button style="margin-left: 1rem" class="btn bg-primary rounded p-2 bd-highlight" (click)="upFileList(upFile)">
                <i class="fa fa-upload"></i> Cargar estructura
            </button>
        </div>
        <div class="card-body mt-4 p-0">

            <div class="row justify-content-center align-items-center text-primary">

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label">ID de Lista:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                                </div>
                                <input [(ngModel)]="idList" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label">Descripción:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                                </div>
                                <input [(ngModel)]="descList" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label">Estado:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa fa-check-circle-o text-primary"></i></span>
                                </div>
                                <select [(ngModel)]="statusList" class="form-control">
                                    <option value="true" selected>Activa</option>
                                    <option value="false">Inactiva</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label">Externa:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa fa-check-circle-o text-primary"></i></span>
                                </div>
                                <select [(ngModel)]="publicList" class="form-control">
                                    <option value="true" selected>SI</option>
                                    <option value="false">NO</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

<!--                <div class="col-12 col-md-6 col-lg-3">-->
<!--                    <button class="btn bg-primary rounded" (click)="upFileList(upFile)">-->
<!--                        <i class="fa fa-upload"></i> Cargar estructura-->
<!--                    </button>-->
<!--                </div>-->


            </div>

            <br>
            <table class="table table-sm table-hover">
                <thead class="bg-primary">
                <tr>
                    <th scope="col">Nombre de Campo</th>
                    <th scope="col" class="text-center">Tipo</th>
                    <th scope="col" class="text-center">Obligatorio</th>
                    <th scope="col" class="text-center">Busqueda</th>
                    <th scope="col" class="text-center">Orden</th>
                    <th scope="col" class="text-center">Activo</th>
                    <th scope="col" class="text-center">Subcategoria</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let field of fields">
                    <td>{{ field.label }}</td>
                    <td class="text-center" *ngIf="field.type == 'TEXT'">Texto</td>
                    <td class="text-center" *ngIf="field.type == 'NUM'">Númerico</td>
                    <td class="text-center" *ngIf="field.type == 'DATE'">Fecha</td>
                    <td class="text-center" *ngIf="field.type == 'SCAT'">Subcategoría</td>
                    <td class="text-center" *ngIf="field.required"><i class="fa fa-check-circle text-success fa-2x"></i>
                    </td>
                    <td class="text-center" *ngIf="!field.required"><i class="fa fa-close text-danger fa-2x"></i></td>
                    <td class="text-center" *ngIf="field.search"><i class="fa fa-check-circle text-success fa-2x"></i>
                    </td>
                    <td class="text-center" *ngIf="!field.search"><i class="fa fa-close text-danger fa-2x"></i></td>
                    <td class="text-center">{{ field.order }}</td>
                    <td class="text-center" *ngIf="field.status"><i class="fa fa-check-circle text-success fa-2x"></i>
                    </td>
                    <td class="text-center" *ngIf="!field.status"><i class="fa fa-close text-danger fa-2x"></i></td>
                    <td class="text-center" *ngIf="field.type != 'SCAT'">
                        <i class="fa fa-close text-danger fa-2x"></i>
                    </td>
                    <td *ngIf="field.type == 'SCAT'">
                        <p *ngFor="let item of field.subcategories">{{ item.label }}</p>
                    </td>
                    <td>
                        <i class="fa fa-pencil-square-o text-info fa-2x" aria-hidden="true" style="cursor: pointer"
                           (click)="editFieldList(editField, field)"
                           title="Editar"></i>
                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true" style="cursor: pointer"
                           (click)="deleteFieldToList(field)"
                           title="Eliminar"></i>
                    </td>
                </tr>

                </tbody>
            </table>
            <br>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="d-flex justify-content-between border-bh">
                        <div class="col-6">
                            <label class="col-form-label">Responsable:</label>
                            <ng-select class="text-left"
                                       [items]="serviceOptions"
                                       [multiple]="false"
                                       [(ngModel)]="respSelected"
                                       bindLabel="resp" [ngModelOptions]="{standalone: true}">
                            </ng-select>

<!--                            <div class="form-group">-->
<!--                                <label class="col-form-label">Responsable:</label>-->
<!--                                <div class="controls">-->
<!--                                    <div class="input-prepend input-group">-->
<!--                                        <div class="input-group-prepend">-->
<!--                                            <span class="input-group-text"><i class="fa fa-user text-primary"></i></span>-->
<!--                                        </div>-->
<!--&lt;!&ndash;                                        <input [(ngModel)]="respField" type="text" class="form-control">&ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <button class="btn bt rounded bg-primary" (click)="addRepToList()">
                                <i class="fa fa-plus"></i> Agregar
                            </button>
                        </div>

                        <div>
                            <table class="table table-sm table-light">
                                <thead>
                                <tr>
                                    <th>Lista de Responsables</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let man of addManager">
                                    <td>{{ man.label }}</td>
                                    <td class="text-center">
                                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true"
                                           style="cursor: pointer" title="Quitar de lista" (click)="deleteRep(man)"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-lg rounded btn-outline-primary" (click)="openCriticality(criticality)">
                            <i class="fa fa-arrow-right"></i> Definir niveles de criticidad
                        </button>
                    </div>

                    <br>

                    <div class="d-flex justify-content-around">
                        <button type="button" class="btn btn-lg btn-primary rounded" (click)="saveList()">
                            <i class="fa fa-plus" aria-hidden="true"></i>Guardar
                        </button>
                        <button type="button" class="btn btn-lg btn-danger rounded" data-dismiss="modal"
                                (click)="cancel()">
                            <i class="fa fa-close" aria-hidden="true"></i> Cancelar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #addField>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Agregar Campo</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal()" style="outline: none">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addFieldForm" (ngSubmit)="addFieldToList()">
            <div class="modal-body">
                <p class="text-center">Ingrese la siguiente información para agregar un campo a la lista</p>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label">Nombre del Campo:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                                    </div>
                                    <input formControlName="nameField" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Tipo de Campo:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa fa-arrow-right text-primary"></i></span>
                                    </div>
                                    <select formControlName="typeField" class="form-control" #s
                                            (change)="onChangeTypeField(s.value)">
                                        <option selected value="TEXT">Texto</option>
                                        <option value="NUM">Numérico</option>
                                        <option value="DATE">Fecha</option>
                                        <option value="SCAT">Subcategoría</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Obligatorio:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-check-square-o"></i></span>
                                    </div>
                                    <select formControlName="requiredField" class="form-control">
                                        <option selected value="true">Si</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Búsqueda:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search text-primary"></i></span>
                                    </div>
                                    <select formControlName="searchField" class="form-control">
                                        <option selected value="true">Si</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Orden:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-list-ol text-primary"></i></span>
                                    </div>
                                    <input formControlName="orderField" min="1" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Estado:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-check-circle-o text-primary"></i></span>
                                    </div>
                                    <select formControlName="statusField" class="form-control">
                                        <option selected value="true">Activo</option>
                                        <option value="false">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <br>

                <div class="row" *ngIf="selectedScat">
                    <div class=" col-12">
                        <p class="text-center text-primary">**Agregar items a la subcategoria**</p>
                        <div class="d-flex justify-content-around" style="border: 0.5px solid; padding: 0.5rem">
                            <div>
                                <div class="form-group">
                                    <label class="col-form-label">Nombre de Item:</label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <input formControlName="itemScat" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm rounded bg-primary" (click)="addScatToList()">
                                    <i class="fa fa-plus"></i> Agregar
                                </button>
                            </div>

                            <div>
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th>Item de Subcategoría</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of arrayItemsScat">
                                        <td>{{ item.label }}</td>
                                        <td class="text-center">
                                            <i class="fa fa-times text-danger fa-2x" aria-hidden="true"
                                               (click)="deleteScat(item)"
                                               style="cursor: pointer"
                                               title="Quitar de lista"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary rounded"><i class="fa fa-plus"
                                                                                aria-hidden="true"></i>
                    Agregar
                </button>
                <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-close" aria-hidden="true"></i> Cerrar
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #editField>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Campo</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal()" style="outline: none">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addFieldForm" (ngSubmit)="editToField()">
            <div class="modal-body">
                <p class="text-center">Ingrese la siguiente información para editar un campo a la lista</p>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label">Nombre del Campo:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                                    </div>
                                    <input formControlName="nameField" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Tipo de Campo:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa fa-arrow-right text-primary"></i></span>
                                    </div>
                                    <select formControlName="typeField" class="form-control" #s
                                            (change)="onChangeTypeField(s.value)">
                                        <option selected value="TEXT">Texto</option>
                                        <option value="NUM">Numérico</option>
                                        <option value="DATE">Fecha</option>
                                        <option value="SCAT">Subcategoría</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Obligatorio:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-check-square-o"></i></span>
                                    </div>
                                    <select formControlName="requiredField" class="form-control">
                                        <option selected value="true">Si</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Búsqueda:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search text-primary"></i></span>
                                    </div>
                                    <select formControlName="searchField" class="form-control">
                                        <option selected value="true">Si</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Orden:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-list-ol text-primary"></i></span>
                                    </div>
                                    <input formControlName="orderField" min="1" type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label">Estado:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text"><i
                                            class="fa fa-check-circle-o text-primary"></i></span>
                                    </div>
                                    <select formControlName="statusField" class="form-control">
                                        <option selected value="true">Activo</option>
                                        <option value="false">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <br>

                <div class="row" *ngIf="selectedScat">
                    <div class=" col-12">
                        <p class="text-center text-primary">**Agregar items a la subcategoria**</p>
                        <div class="d-flex justify-content-around" style="border: 0.5px solid; padding: 0.5rem">
                            <div>
                                <div class="form-group">
                                    <label class="col-form-label">Nombre de Item:</label>
                                    <div class="controls">
                                        <div class="input-prepend input-group">
                                            <input formControlName="itemScat" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-sm rounded bg-primary" (click)="addScatToList()">
                                    <i class="fa fa-plus"></i> Agregar
                                </button>
                            </div>

                            <div>
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th>Item de Subcategoría</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of arrayItemsScat">
                                        <td>{{ item.label }}</td>
                                        <td class="text-center">
                                            <i class="fa fa-times text-danger fa-2x" aria-hidden="true"
                                               (click)="deleteScat(item)"
                                               style="cursor: pointer"
                                               title="Quitar de lista"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary rounded"><i class="fa fa-plus"
                                                                                aria-hidden="true"></i>
                    Actualizar
                </button>
                <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-close" aria-hidden="true"></i> Cerrar
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #criticality>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Niveles de Criticidad</h5>
        </div>

        <div class="modal-body">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label">Mensaje general para la lista:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-comment-o text-primary"></i></span>
                                </div>
                                <input [(ngModel)]="messageDft" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-around border-bh">

                <div>
                    <!--<div class="row justify-content-center">-->
                        <!--<div class="col-4">-->
                            <div class="form-group">
                                <label class="col-form-label">Nivel:</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-list-ol text-primary"></i></span>
                                        </div>
                                        <input [(ngModel)]="nivelNum" type="number" min="1" class="form-control">
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                        <!--<div class="col-8">-->
                            <div class="form-group">
                                <label class="col-form-label">Mensaje:</label>
                                <div class="controls">
                                    <div class="input-prepend input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-commenting text-primary"></i></span>
                                        </div>
                                        <input [(ngModel)]="nivelMsg" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                    <!--</div>-->
                    <button class="btn btn-sm rounded bg-primary" (click)="addMsgToList()">
                        <i class="fa fa-plus"></i> Agregar
                    </button>
                </div>

                <div>
                    <table class="table table-sm table-light">
                        <thead>
                        <tr>
                            <th class="text-center">Nivel</th>
                            <th>Mensaje de Criticidad</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let niv of arrayNivCrit">
                            <td class="text-center">{{ niv.id }}</td>
                            <td>
                                {{ niv.label }}
                            </td>
                            <td class="text-center">
                                <i class="fa fa-times text-danger fa-2x" aria-hidden="true" (click)="deleteNivCrit(niv)"
                                   style="cursor: pointer"
                                   title="Quitar de lista"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary rounded"><i class="fa fa-plus" aria-hidden="true" (click)="closeModal()"></i>
                Guardar
            </button>
            <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
                <i class="fa fa-close" aria-hidden="true"></i> Cerrar
            </button>
        </div>
    </div>
</ng-template>

<ng-template #upFile>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Carga de archivo</h5>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label class="col-form-label">Seleccionar archivo:</label>
                <div class="controls">
                    <div class="input-prepend input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                        </div>
                        <input type="file" class="form-control">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-primary rounded"><i class="fa fa-plus" aria-hidden="true"></i>
                Subir
            </button>
            <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
                <i class="fa fa-close" aria-hidden="true"></i> Cerrar
            </button>
        </div>
    </div>
</ng-template>
