<div class="animated fadeIn">
    <div class="card" style="padding: 0.2rem">
        <div class="card-header bg-gray-200 text-primary d-flex justify-content-between">
            <div>
                <i class="fa fa-bars text-primary"></i> {{TITLE}}
            </div>
            <button class="btn btn-sm rounded btn-outline-primary" (click)="agregar()">
                <i class="fa fa-plus-circle"></i> Crear lista
            </button>
        </div>
        <div class="card-body mt-4 p-0">

            <div class="row justify-content-center align-items-center text-primary">

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label">Listas:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                                </div>
                                <select [(ngModel)]="valueList" class="form-control">
                                    <option  *ngFor="let lc of listCatalog" value="{{ lc.codLista }}">{{ lc.idLista }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label" for="institutionId">Responsable:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user text-primary"></i></span>
                                </div>
                                <select [(ngModel)]="valueResp" id="institutionId" class="form-control">
                                    <option  *ngFor="let rc of respCatalog" value="{{ rc.id }}">{{ rc.usuario }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label">Fecha:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-calendar text-primary"></i></span>
                                </div>
                                <input [(ngModel)]="valueDate" class="form-control" type="date">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <button class="btn bg-primary rounded" (click)="buscarLista()">
                        <i class="fa fa-search"></i> Buscar
                    </button>
                </div>

            </div>
            <br>
            <table class="table table-sm table-hover">
                <thead class="bg-primary">
                <tr>
                    <th scope="col">IdLista</th>
                    <th scope="col">Descripción</th>
<!--                    <th scope="col">Responsables</th>-->
                    <th scope="col">F. última carga</th>
                    <th scope="col" class="text-center">Estado</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let list of listTable">
                    <td>{{ list.idLista }}</td>
                    <td>{{ list.descripcion }}</td>
<!--                    <td>Marco Platero</td>-->
                    <td>10/5/2018</td>
                    <td class="text-center"><i class="fa fa-check-circle text-success fa-2x"></i></td>
                    <td>{{ list.observaciones }}</td>
                    <td>
                        <i class="fa fa-pencil-square-o text-info fa-2x" aria-hidden="true" style="cursor: pointer" title="Editar"></i>
<!--                        <i class="fa fa-times text-danger fa-2x" aria-hidden="true" style="cursor: pointer" title="Eliminar"></i>-->
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
<!--            <div class="d-flex justify-content-center">-->
<!--                <nav class="text-primary">-->
<!--                    <ul class="pagination">-->
<!--                        <li class="page-item"><a class="page-link">Anterior</a></li>-->
<!--                        <li class="page-item"><a class="page-link">1</a></li>-->
<!--                        <li class="page-item"><a class="page-link">2</a></li>-->
<!--                        <li class="page-item"><a class="page-link">3</a></li>-->
<!--                        <li class="page-item"><a class="page-link">Siguiente</a></li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
        </div>
    </div>
</div>
