<div class="animated fadeIn">
  <div style="text-align: center">
    <h3 class="text-primary"><strong>Sistema de Manejo de Listas de Prevención</strong></h3>
    <img src="assets/img/logo.png" style="width: 50%; opacity: 0.25" />
  </div>
</div>
