<div class="animated fadeIn">
  <div class="card" style="padding: 0.2rem">
    <div class="card-header bg-gray-200 text-primary d-flex justify-content-between">
      <div>
        <i class="fa fa-angle-double-up text-primary"></i> {{TITLE}}
      </div>
      <button style="margin-left: 1rem" class="btn btn-sm rounded btn-outline-primary" (click)="goConsult()">
        <i class="fa fa-upload"></i> Ver listado de cargas
      </button>
    </div>
    <div class="card-body mt-4 p-0">

      <div class="row justify-content-center align-items-center text-primary">

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Listas:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                </div>
                <select [(ngModel)]="valueList" (change)="onChange()" class="form-control">
                  <option *ngFor="let list of listaList"
                          value="{{ list.codLista }}">{{ list.idLista }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <button class="btn bg-primary rounded" (click)="selectedList()">
            <i class="fa fa-arrow-right"></i> Seleccionar
          </button>
        </div>

      </div>
      <br>

      <div class="row justify-content-center align-items-center text-primary">

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Solicitado por:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                </div>
                <input [disabled]="true" [(ngModel)]="solicitadoPor" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Cargado por:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                </div>
                <input [disabled]="true" [(ngModel)]="cargadoPor" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Fecha de carga:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar text-primary"></i></span>
                </div>
                <input [disabled]="true" [(ngModel)]="fechaCreacion" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="form-group">
            <label class="col-form-label">Cantidad de registros:</label>
            <div class="controls">
              <div class="input-prepend input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-calendar text-primary"></i></span>
                </div>
                <input [disabled]="true" [(ngModel)]="cantRegs" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <button [disabled]="!selectStatus" class="btn bg-primary rounded" (click)="upFileList(upFile)">
            <i class="fa fa-upload"></i> Cargar nuevo archivo
          </button>
        </div>
      </div>

      <br>
        <table *ngIf="valueList > 0 && listaPP !== undefined" class="table table-sm table-hover">
            <thead class="bg-primary">
            <tr>
                <th *ngFor="let head of headFields"  scope="col">{{ head.label }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fields of this.listRegUpload">
                <td *ngFor="let field of fields.lreg_registro">{{ field.value }}</td>
            </tr>
            </tbody>
        </table>
      <br>

    </div>
  </div>
</div>

<ng-template #upFile>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Carga de archivo</h5>
    </div>

    <div class="modal-body">


        <div class="form-group">
          <label class="col-form-label">Área Solicitante:</label>
          <div class="controls">
            <div class="input-prepend input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-th-large text-primary"></i></span>
              </div>
              <select [(ngModel)]="valueArea" class="form-control">
                <option *ngFor="let area of listAreas" value="{{area.id}}">{{ area.nombre }}</option>
              </select>
            </div>
          </div>
        </div>

      <div class="form-group">
        <label class="col-form-label">Seleccionar archivo:</label>
        <div class="controls">
          <div class="input-prepend input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
            </div>
            <input type="file" class="form-control" style="display: inline-block;"  (change)="onFileChange($event)" multiple="false" placeholder="Seleccionar Archivo" accept=".xlsx">
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary rounded" (click)="validate(previewdata)"><i class="fa fa-plus" aria-hidden="true"></i>
        Subir
      </button>
      <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
        <i class="fa fa-close" aria-hidden="true"></i> Cerrar
      </button>
    </div>
  </div>
</ng-template>

<ng-template #previewdata>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Previsualizacion de datos</h5>
    </div>

    <div class="modal-body">

        <div class="row justify-content-center align-items-center text-primary">

            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label class="col-form-label">Solicitado por:</label>
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                            </div>
                            <input [disabled]="true" [(ngModel)]="this.selectArea.name" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label class="col-form-label">Cargado por:</label>
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                            </div>
                            <input [disabled]="true" [(ngModel)]="this.profile.usuario" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label class="col-form-label">Cargado por:</label>
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                            </div>
                            <input [disabled]="true" [(ngModel)]="this.data.length" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>


      <table *ngIf="valueList > 0 && listaPP !== undefined" class="table table-sm table-hover">
        <thead class="bg-primary">
        <tr>
          <th *ngFor="let head of headFields"  scope="col">{{ head.label }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fields of this.data">
          <td *ngFor="let field of fields">{{ field }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-primary rounded" (click)="importData()"><i class="fa fa-plus" aria-hidden="true"></i>
        Importar Datos
      </button>
      <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
        <i class="fa fa-close" aria-hidden="true"></i> Cerrar
      </button>
    </div>
  </div>
</ng-template>

