<div class="animated fadeIn">
    <div class="card" style="padding: 0.2rem">

        <div class="card-header bg-gray-200 text-primary d-flex justify-content-between">
            <div>
                <i class="fa fa-users" aria-hidden="true"></i>
                {{TITLE}}
            </div>
            <button class="btn btn-sm rounded btn-outline-primary p-2 bd-highlight" [disabled]="createStatus"
                    (click)="openModal(createProfile)">
                <i class="fa fa-plus"></i> Agregar Perfil
            </button>
        </div>

        <div class="card-body mt-4 p-0">

            <div class="row justify-content-center align-items-center text-primary">

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="col-form-label">Listas:</label>
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-bars text-primary"></i></span>
                                </div>
                                <select [(ngModel)]="valueList" (change)="onChange()" class="form-control">
                                    <option *ngFor="let lc of listCatalog"
                                            value="{{ lc.codLista }}">{{ lc.idLista }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <button class="btn bg-primary rounded" (click)="selectList()">
                        <i class="fa fa-check"></i> Seleccionar
                    </button>
                </div>

            </div>
            <br>
            <table *ngIf="this.profile.length > 0" class="table table-sm table-hover">
                <thead class="bg-primary">
                <tr>
                    <th scope="col">Perfil</th>
                    <th scope="col" class="text-center">Acceso</th>
                    <th scope="col" class="text-center">Visualización</th>
                    <th scope="col" class="text-center">Descarga</th>
                    <th scope="col" class="text-center">Mostrar Responsable</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let prof of profile">
                    <td>{{ prof.roles_nombre }}</td>
                    <td *ngIf="prof.profile_acceso === 'N'" class="text-center">NINGUNO</td>
                    <td *ngIf="prof.profile_acceso === 'C'" class="text-center">CONSULTA</td>
                    <td *ngIf="prof.profile_acceso === 'E'" class="text-center">EDICION</td>
                    <td *ngIf="prof.profile_visualizacion === 'N'" class="text-center">NINGUNO</td>
                    <td *ngIf="prof.profile_visualizacion === 'V'" class="text-center">VIGENTE</td>
                    <td *ngIf="prof.profile_visualizacion === 'H'" class="text-center">HISTORICO</td>
                    <td *ngIf="prof.profile_descarga === 1" class="text-center">SI</td>
                    <td *ngIf="prof.profile_descarga === 0" class="text-center">NO</td>
                    <td *ngIf="prof.profile_responsable === 1" class="text-center">SI</td>
                    <td *ngIf="prof.profile_responsable === 0" class="text-center">NO</td>
                    <td class="text-center">
                        <i class="fa fa-pencil-square-o text-info fa-2x" aria-hidden="true"
                           (click)="openModal(createProfile)" style="cursor: pointer" title="Configurar campos"></i>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>

<ng-template #createProfile>

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Agregar Perfil</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"
                    (click)="closeModal()" style="outline: none">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addProfileForm" (ngSubmit)="addProfileToList()">
            <div class="modal-body">
                <p class="text-center">Ingrese la información para configuración de perfil</p>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="col-form-label">Lista de Perfiles:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                                    </div>
                                    <select formControlName="profileField" class="form-control">
                                        <option *ngFor="let role of listRoles.data" selected
                                                value="{{ role.id }}">{{ role.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="col-form-label">Acceso:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                                    </div>
                                    <select formControlName="accessField" class="form-control">
                                        <option selected value="N">NINGUNO</option>
                                        <option selected value="C">CONSULTA</option>
                                        <option selected value="E">EDICION</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="col-form-label">Visualización:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                                    </div>
                                    <select formControlName="viewField" class="form-control">
                                        <option selected value="N">NINGUNO</option>
                                        <option selected value="V">VIGENTE</option>
                                        <option selected value="H">HISTORICO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="col-form-label">Descarga:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                                    </div>
                                    <select formControlName="downloadField" class="form-control">
                                        <option selected value="true">SI</option>
                                        <option selected value="false">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="col-form-label">Mostrar Responsable:</label>
                            <div class="controls">
                                <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-pencil text-primary"></i></span>
                                    </div>
                                    <select formControlName="managerField" class="form-control">
                                        <option selected value="true">SI</option>
                                        <option selected value="false">NO</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-6">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Campo de Lista</th>
                                <th class="text-center">Visualizar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of fieldsProf">
                                <td>{{ item.label }}</td>
                                <td class="text-center">
                                    <select (change)="setValueField()">
                                        <option value="true">Si</option>
                                        <option value="false">No</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-primary rounded"><i class="fa fa-plus"
                                                                                aria-hidden="true"></i>
                    Agregar
                </button>
                <button type="button" class="btn btn-sm btn-danger rounded" data-dismiss="modal" (click)="closeModal()">
                    <i class="fa fa-close" aria-hidden="true"></i> Cerrar
                </button>
            </div>
        </form>
    </div>

</ng-template>

